@font-face {
    font-family: myFirstFont;
    src: url(Formula1-Bold_web_0.ttf);
}
  
h2 {
    font-family: myFirstFont;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: myFirstFont;
    color: rgb(255, 255, 255);
}

h3 {
    font-family: myFirstFont;
    color: rgb(255, 255, 255);
}

p {
    font-family: myFirstFont;
    color: rgb(255, 255, 255);
}